.small-button {
    padding: .3125em 1em !important;
}

.long-transition {
    transition-duration: .5s !important;
}

@media (max-width: 767px) {
    .video-container iframe {
        height: 44.344vw !important;
        width: 78.86vw !important;
    }
}